# Assignment 1

### Q1Take input first name and last name from user store in two variables and then concatenate both variables and print full name

In [4]:
x = str(input("Enter Your First Name: "))
y = str(input("Enter Your Last Name: "))
print(x,y)

Enter Your First Name: Neeraj
Enter Your Last Name: Otwani
Neeraj Otwani

### Q2 Write a Python program to take input from user as a string then print first 2 and the last 2 chars from a given a string.

In [1]:
a=str(input("Enter the string: "))
print("First Two Characters: ",(a[0:2]),"Last Two Characters: ",a[-2:])

Enter the string: Neeraj
First Two Characters:  Ne Last Two Characters:  aj

### Q3 Write a Python program to remove the “h” character from the “TechShoor”.

In [17]:
d="TechShoor"
print(d.replace('h', ''))

TecSoor

### Q4 Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).Sample Words: car, bike, truck, cycle, skateboard, civic

In [42]:
i=str(input("Enter a comma seperated sequence of words: "))
unique = i.split()
print(unique)

Enter a comma seperated sequence of words: car, bike, truck, cycle, skateboard, civic
['car,', 'bike,', 'truck,', 'cycle,', 'skateboard,', 'civic']

### Q5 Write a Python Program take sample string: “I am a bad person” to replace with “I am a good person”. Hint (Use replace function)

In [18]:
e="I am a bad person"
print(e.replace('bad','good'))

I am a good person

### Q6 Write a Python program to reverse any string.

In [6]:
b=str(input("Enter a String: "))
print("Reverse: ",b[::-1])

Enter a String: Neeraj
Reverse:  jareeN

### Q7 Write a Python program which accepts the radius of a circle from the user and compute the area

In [13]:
c=float(input("Enter Radius Of Circle: "))
pie=3.142
print("Area Of Circle= ",(c**2)*pie)

Enter Radius Of Circle: 42
Area Of Circle=  5542.488

### Q8 Write a Python Program to count how many times ‘o’ in “Gooooooooooooooooogle”

In [20]:
f="Gooooooooooooooooogle"
print(f.count('o'))

17

### Q9 Create a Python Program to slice this string “I like to eat banana” and print only “ike to eat”

In [21]:
g="I like to eat banana"
print(g[3:13])

ike to eat

### Q10 Write a Python program to print the following string in a specific format. (see Output)

Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star,How I wonder what you are"

Output :

Twinkle, twinkle, little star,
  How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
  How I wonder what you are
  
The above output is required in print form

In [37]:
h = "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star,How I wonder what you are"
print(h[0:30])
print("",h[30:57])
print("      ",h[58:85])
print("      ",h[86:113])
print(h[113:143])
print("",h[143:])

Twinkle, twinkle, little star,
  How I wonder what you are!
       Up above the world so high,
       Like a diamond in the sky.
Twinkle, twinkle, little star,
 How I wonder what you are