In [106]:
#Name : Neeraj

#Roll Number :  

#Email : neerajotwani23@gmail.com

Solve the problems on your own, if we found code plagiarism, so we will hold your certification.                                                                                                                      
Submit this File Before 31-01-2022 6:00 PM (Pakistan Time)

Note: Contact us if you are getting any error.
    
WhatsApp: +923010001547

# Problem 1

Add parentheses to the following expression so that it evaluates to 0.

   8 - 3 * 2 - 1 + 1
   
   Answer:

In [81]:
#Write your Answer in this Cell
8-(3*2)-(1+1)

# Problem 2

Write a funtion which perform Addition , Multiplication , Substraction, Division. And perform all this operation using value 
a = 2
b = 2
pass the above value in function as parameter(Argument).

In [1]:
#Write your Answer in this Cell
def function(x,y):
    print(x," + ",y," = ",x+y)
    print(x," - ",y," = ",x-y)
    print(x," * ",y," = ",x*y)
    print(x," / ",y," = ",x/y)


a=2
b=2
function(a,b)

2  +  2  =  4
2  -  2  =  0
2  *  2  =  4
2  /  2  =  1.0

# Problem 3

Compose a Python class named Student with two attributes student_id, student_name.Also Add property student_class and show the the said class.

In [7]:
#Write your Answer in this Cell

class Student():
    def __init__( self, student_id, student_name, student_class):
        self.id = student_id
        self.name = student_name
        self.classs = student_class
        
    def student_details(self):
        print(self.name," holds a id ",self.id," studies in class ",self.classs)

a=int(input("Enter Your Student-ID: "))
b=str(input("Enter Your Name: "))
c=int(input("In Which Class Do you Study: "))

student1 = Student(a,b,c)

Enter Your Student-ID: 3223
Enter Your Name: Neeraj
In Which Class Do you Study: 12

In [9]:
#Write your Answer in this Cell

student1.student_details()

Neeraj  holds a id  3223  studies in class  12

# Problem 4

Write a Python function named Circle. Taking the radius of circle and  which will compute two things the area and the perimeter of a circle.

π (pi) = 3.14

Area of Circle Formula :  A = π r^2

Perimeter of a circle Formula : C = 2 π r

In [2]:
#Write your Answer in this Cell

pie = 3.142

def circle(radius):
    area = float(pie*radius**2)
    perimeter = float(2*pie*radius)
    print("Area Of Circle: "+str(area)+" Perimeter Of Circle: "+str(perimeter))

rad=float(input("Enter The Radius Of Circle: "))
circle(rad)

Enter The Radius Of Circle: 5
Area Of Circle: 78.55 Perimeter Of Circle: 31.419999999999998

# Problem 5

Write a function which returns True if the given number is negative and False otherwise

In [5]:
#Write your Answer in this Cell

def function(number):
    if (number<0):
        return True
    else:
        return False

check=bool(function(int(input("Enter a Number "))))
print(check)

Enter a Number -8
True

# Problem 6

Write a for loop which print "Tech Shoor" as the user enter the loop value. Also print the "Tech Shoor" five times using the for loop which you created.

In [32]:
#Write your Answer in this Cell

n=int(input("For How many times do u want to print Techshoor: "))
for i in range(n):
    print("Techshoor")

For How many times do u want to print Techshoor: 5
Techshoor
Techshoor
Techshoor
Techshoor
Techshoor

# Problem 7

Write a Python program that uses an if else statement to find the smallest of four
given integers. (The user should enter the four numbers).

In [10]:
#Write your Answer in this Cell

a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
c = int(input("Enter Third Number: "))
d = int(input("Enter Fourth Number: "))

if( a < b and a < c and a < d ):
    print("Smallest Integer: ",a)
elif( b < a and b < c and b < d ):
    print("Smallest Integer: ",b)
elif( c < a and c < b and c < d ):
    print("Smallest Integer: ",c)
else:
    print("Smallest Integer: ",d)

Enter First Number: 7
Enter Second Number: 8
Enter Third Number: 9
Enter Fourth Number: 1
Smallest Integer:  1

# Problem 8

Write a function that take two numbers, a and b, and returns the sum of numbers
from a to b.

In [34]:
#Write your Answer in this Cell

def func():
    a=int(input("Enter First Number: "))
    b=int(input("Enter Second Number: "))
    sum=0
    while(a<=b):
        sum+=a
        a+=1
    return sum

sum=func()
print("Sum is ",sum)

Enter First Number: 0
Enter Second Number: 10
Sum is  55

# Problem 9

Write the Output of this program and explain how it work.

temperature = 101
if temperature >= 100:
 print("Summer")
elif temperature <= 40:
 print("Winter")
else:
 print("Just right")
 
 Answer:

In [37]:
#Write your Answer in this Cell

Summer

NameError: name 'Summer' is not defined

In [91]:
# Explain in this Cell

Here a variable temperature is initialized with a value 101. It checks that if its value is greator than or equal to 100 it will
print summer. If if first condition is false it will check if value is less than or equal to 40 then it will print Winter.
If 2nd condition is also false it will print Just right.

Since here first condition is true so it will print Summer

# Problem 10

Write a Python program that prompts the user for three numbers, reads them in, and prints out the
product (Multiplication).

In [36]:
#Write your Answer in this Cell

a=int(input("Enter First Number: "))
b=int(input("Enter Second Number: "))
c=int(input("Enter Third Number: "))

print(a*b*c)

Enter First Number: 2
Enter Second Number: 3
Enter Third Number: 1
6

# Problem 11

Given a string T, write a short expression for T string that includes T repeated 7 times.

In [35]:
#Write your Answer in this Cell

T="T"
print(T*7)

TTTTTTT

# Problem 12

Write code to create a Python dictionary (the dict type). Add three entries to the dictionary: 

Associate the key ‘name’ with the value 'Muhmmad Azhar' , and associate the key 'phone' with ‘03010001547’ , another key 'country' with 'PAKISTAN'.

In [11]:
#Write your Answer in this Cell

python_dictionary = { "name": "Muhammad Azhar", "phone": "03010001547", "country": "Pakistan" }
print(python_dictionary)

{'name': 'Muhammad Azhar', 'phone': '03010001547', 'country': 'Pakistan'}

# Problem 13

Print your name , email , country , short introduction using a python function.

In [24]:
#Write your Answer in this Cell

def print_bio(a,b,c,d):
    print("Name: ",a )
    print("Email: ",b)
    print("Country: ",c)
    print("Introduction: ",d)

w=str(input("Enter Your Name: "))
x=str(input("Enter Your Email: "))
y=str(input("Country: "))
z=str(input("Tell Us About You: "))
print_bio(w,x,y,z)

Enter Your Name: Neeraj
Enter Your Email: neerajotwani23@gmail.com
Country: Pakistan
Tell Us About You: VA at Fiverr, Enrolled For BSCS at NUCES 2021
Name:  Neeraj
Email:  neerajotwani23@gmail.com
Country:  Pakistan
Introduction:  VA at Fiverr, Enrolled For BSCS at NUCES 2021

# Problem 14

Print the data type and length of the below variables

In [96]:
a = "Tech Shoor"
b = 13.44
c = [6,7,4,4,7]
d= {'6','7','4','4','7'}

In [21]:
#Write your Answer in this Cell

a = "Tech Shoor"
b = 13.44
c = [6,7,4,4,7]
d= {'6','7','4','4','7'}

print("Data Type Of a is ",type(a)," and it's length is ",len(a))
print("Data Type Of a is ",type(b)," and it's has no length cuz it is float")
print("Data Type Of a is ",type(c)," and it's length is ",len(c))
print("Data Type Of a is ",type(d)," and being a set it has duplicate values so duplicate values will be discarded and its length becomes",len(d))

Data Type Of a is  <class 'str'>  and it's length is  10
Data Type Of a is  <class 'float'>  and it's has no length cuz it is float
Data Type Of a is  <class 'list'>  and it's length is  5
Data Type Of a is  <class 'set'>  and being a set it has duplicate values so duplicate values will be discarded and its length becomes 3

# Problem 15

Print out only the "TechShoor" using the below list.

In [98]:
tech = "pythonTechShoorcourse"

In [15]:
#Write your Answer in this Cell
tech = "pythonTechShoorcourse"
print(tech[6:15])

TechShoor

# Problem 16

In your Own words briefly describe Pthon Programing Language.why it is Important.

#Write your Answer in this Cell

Python is a high level language which uses an interpreter to convert source code into machine readable language. This language is very close to English Language has a easy syntax. Its's indentation property increases its code readability. It also supports object oriented programming.

# Problem 17

Hasan, Bilal and Afaq have agreed to pool their candy and split it evenly among themselves. For the sake of their friendship, any candies left over will be smashed. For example, if they collectively bring home 91 candies, they'll take 30 each and smash 1. Write an arithmetic expression to calculate how many candies they must smash for a given candies.

In [20]:
#Write your Answer in this Cell

x=int(input("Enter The Total Number Of Candies: "))
x=int(x-(int(x/3))*3)
print("Smash ",x," candies")

Enter The Total Number Of Candies: 32
Smash  2  candies

# Problem 18

Call the Function and Print 'Hello' & 'World' in one line.

In [2]:
def function1():
 print('Hello')
def function2():
 print('World')

In [38]:
#Write your Answer in this Cell
def function1():
 print('Hello',end=" ")
def function2():
 print('World')




function1()
function2()

Hello World

# Problem 19

Save your Name in txt file, using filing.

In [39]:
#Write your Answer in this Cell
with open("file.txt","w") as file:
    file.write("Neeraj")

# Problem 20

Reverse the Below variable using Slicing.

In [104]:
techlist =  "maxE laniF nohtyP fo noitseuQ tsaL eht gnitelpmoc no noitalutargnoc"

In [11]:
#Write your Answer in this Cell

techlist =  "maxE laniF nohtyP fo noitseuQ tsaL eht gnitelpmoc no noitalutargnoc"
print(techlist[::-1])

congratulation on completing the Last Question of Python Final Exam

# Survey

How you rate this course?

Your Answer:

This Course was very helpful to me. By this i learned Python nicely and all the three teachers worked hard to make us understand the course and solved our queries. 5 star Rating.

Do you want to have another course by TechShoor?

Your Answer:
Yes

If yes Name the course you want to start with TechShoor.

Your Answer:

Networking and Security

#Done